main-login {
    display: flex;
    justify-content: center;
    width: 100%;
    

}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
    flex: 0 0 400px;
    height: 320px;
    background-color: white;
    color: rgb(22, 12, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}.loginForm strong:nth-child(1){
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 10px;

    border:none;
}


.loginForm input{
    border: none;
    border-bottom: 1px solid rgb(22, 12, 0);
    

    font-size: 1.4rem;

    margin: 15px;


    background: transparent;
    outline: 0px;
    caret: rgb(80, 78, 78);
    width: 80%;
}


.loginButtons{
    display: flex;
    flex-direction:column;
    align-items: center;

    width: 100%;
}.loginButtons button{
    background-color:rgb(22, 12, 0) ;
    color: white;
    padding: 7px;
    width: 80%;
    align-self: center;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 15px;
    transition: 0.08s;
}.loginButtons button:hover{
    transform: scale(1.03);
}

#noAccount{
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
}

#loginLoss{
    font-size: 1rem;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
    
}