@media(max-width: 900px) {
    main-header {
        margin-left: 0px;

    }

    .headerCont {
        width: 100%;


        margin-right: none;
    }

    #headerSide {
        display: flex;
    }

    #headerNav {
        display: none;
    }


    .headerCont img:nth-child(3) {
        display: inline !important;
    }

    .headerCont a {
        display: none;
    }







}

main-header {

    margin-right: 6vw;
    margin-left: 6vw;
}


.headerCont {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    height: 80px;



    border-bottom: 1px solid rgb(226, 203, 174);

}

.headerCont strong {
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
    transition: 0.1s;
}

.headerCont strong:hover {
    transform: scale(1.14);

}

.headerCont a {
    font-size: 1.3rem;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
    cursor: pointer;
    transition: 0.1s;
}

.headerCont a:hover {
    transform: scale(1.1);
    border-bottom: 1px solid rgb(240, 207, 186);
}


.headerCont img:nth-child(3) {
    display: none;
}

.headerCont img {

    margin-left: 20px;
    align-self: center;
    width: 35px;

    cursor: pointer;
    transition: 0.1s;
}

.headerCont img:hover {
    transform: scale(1.14);
}


#headerSide {
    display: none;
}