@media(max-width: 1300px) {
    main-header{
        margin-left:0px;
        
    }
    
    .headerCont {
        width: 100%;
        
        
        margin-right: none;
    }

    #headerSide {
        display: flex;
    }

    #headerNav {
        display: none;
    }


    .headerCont svg:nth-child(1) {
        display: flex;
        width: 30px;
        height: auto;
        cursor: pointer;
        transition: 0.1s;

    }

   .headerCont a{
    display: none;
   }







}

main-header {
    
    margin-right: 6vw;
    margin-left: 6vw;
}


.headerCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 80px;

   

    border-bottom: 1px solid rgb(226, 203, 174);

}

.headerCont strong {
    font-size: 2rem;
    cursor: pointer;
}

.headerCont a {
    font-size: 1.3rem;
    margin-right: 20px;
    margin-left: 20px;

    cursor: pointer;
    transition: 0.1s;
}

.headerCont a:hover {
    transform: scale(1.1);
}

.headerCont svg:nth-child(1) {

    display: none;
}

.headerCont svg {

    margin-left: 20px;
    
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: 0.1s;
}

.headerCont svg {
    transform: scale(1.1);
}


#headerSide {
    display: none;
}

#headerCart svg {
    width: 35px;
    height: auto;
}



#headerLogin svg {
    width: 40px;
    height: auto;
}