


.footer{
    width: 100%;
    display: flex;
    
    
}

.strongLogo{
  margin-top: 0.4vh;
  margin-left:10.5vw ;
  color: white;
  width: 100%;
  font-size: 1.6rem;
}

.linksContainer{
    align-items: center ;
    justify-content:left ;
    display: flex;
    margin-top: 1vh;
   

} .whatsappContainer{
    margin-left: 12.7vw;
    cursor: pointer;
}
.instagramContainer{
  margin-left: 1vh;
  margin-right: 10.5vw;
  cursor: pointer;
}


