main-sobre {
    width: 100%;
}

.sobreCont {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vw;
    margin-bottom: 27.7vw;

}

.aboutTitle {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    align-self: center;
}

.sobreStrong1 {
    margin-top: 1vw;
    color: white;
    font-size: 1.6rem;
}