@media(max-width:640px) {
    .cadForm {
        width: 100% !important;
        height: 590px !important;
    }

    .inputConts {
        flex-direction: column !important;
    }
}


main-cad {
    width: 100%;
    display: flex;
    justify-content: center;
    

}


.InputsCont {
    display: flex;
    flex-direction: row;

}

.cadForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;

    width: 500px;
    height: 400px;
    padding: 20px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#cadTitle {
    color: rgb(22, 12, 0);
    font-size: 1.6rem;
    margin-bottom: 30px;

}




.cadInput {
    border-bottom: 1px solid rgb(22, 12, 0);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;

    font-size: 1.1rem;

    margin: 15px;


    background: transparent;
    outline: 0px;
    caret: rgb(80, 78, 78);
}

.cadInput::placeholder {
    font-size: 1.1rem;
    opacity: 65%;


    font-weight: 500;
}




.cadCelular {
    border-bottom: 1px solid rgb(22, 12, 0);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;

    font-size: 1.1rem;


    margin: 1vw;

    background: transparent;
    outline: 0px;
    caret: rgb(80, 78, 78);

}

.cadCelular::placeholder {
    font-size: 1.1rem;
    opacity: 65%;
    font-weight: 500;
}


.dateCont {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.cadDate {
    font-size: 1.1rem;

    margin-right: 0.5vw;

    background: none;
    border-radius: 0.3vw;
    border: 1px solid rgb(22, 12, 0);

    width: 199px;

    margin-left: 12px;

    text-align: center;
    padding: 0.3vw;

}













.cadButtonsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadButtonsCont strong {
    color: rgb(22, 12, 0);
    cursor: pointer;
}

.cadButtonsCont strong:hover {
    transform: scale(1.03);
}




.cadButtonsCont input {
    margin-top: 4vh;
    border-radius: 1vh;


    border: none;
    color: #fbfbfb;
    background-color: rgb(22, 12, 0);

    justify-content: center;
    align-items: center;
    display: flex;

    margin-bottom: 30px;
    margin-left: 0.5vw;

    height: 40px;
    width: 100%;

    transition: 0.1s all;
    cursor: pointer;
    font-size: 1.2rem;

}

.cadButtonsCont input:hover {
    transform: scale(1.07);

}