
   .globalContainer{
   justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
   }.pseudoHeader{
    width: 100%;
    height: 10vh;
   }
   .mainContainer{
    width: ;
    height:;
    margin-left: 10.5vw;
    margin-right: 10.5vw;
    background-color: white;
    margin-left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1vh;
    display: flex;
   }
   
   .block1{
    width: 100%;
    height: 30px;
   }
   


   .productImageContainer{
    width:420px;
   }.productImage{

   }

     .productTextContainer{
      margin-top: 70px;
      margin-left: 70px;
   }
   
   
   .productTitlecontainer{
     
   }.productTitleStrong{
   font-size: 40px;
   }

    .productDescriptionContainer{
      width: 500px;
      margin-top: px;
   }
   
   
     .productPriceContainer{
   display: flex;
   margin-top: 7px;
   margin-bottom: 20px;
   }.priceContainer{
     
   }.priceStrong{
    font-size: 22px;
   }
   
   .productDescriptionStrong1{
    
   }

   .productBuyContainer{
    margin-top: 40px;
    display: flex;
    
   }.buyButton{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(207, 168, 115); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition:all 0.030s ease-out;
   }.buyButton:hover{
    transform: scale(1.05);
   }.block{
    width: 100%;
    height: 10px;
   }.buyButtonStrong{
     font-size: 20px;
     margin-top: 0px;
   }

   .block2{
    height:14px;
   }
   .cartContainer{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color:white; 
    border: 3px solid rgb(207, 168, 115);  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition:all 0.030s ease-out;
    margin-left: 30px ;
   }.cartContainer:hover{
    transform:scale(1.05) ;
}   .cartContainerStrong{
    color: rgb(207, 168, 115);
    font-size:17px ;
}

   
