

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    
    
}

.StrongLogo{
margin-left: 10.5vw;
    height: auto;
    font-size: 1.8rem;
    color: #ffffff;
}

.navContainer{
 display: flex ; 
 justify-content: center ;
 align-items: center ;
 height: 4vh;
 
 cursor: pointer
} .navContainer1{
    align-items: center;
    text-align: center;    
    height: 100%;
    width: clamp(83px,8vw,200px);
    
}


.navBlock{
    height: 2vh;
    
}

.nav{
    font-size: clamp(1rem,0.9vw,3rem);
    transition: 0.17s;
    
}.navContainer1:hover .nav{
    color: rgb(155, 118, 62);
    font-size: 17px;
}.navContainer2:hover .nav{
    color: rgb(155, 118, 62);
    font-size: 17px;
}

.spacer{
    width: clamp(10px,1vw,200px);
}

.navContainer2{
    align-items: center;
    text-align: center;    
    height: 100%;
    width: clamp(87px,8vw,200px);
    margin-right: 3.6vw;
    
}


.nav{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.loginContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;


    margin-right:10vw;
    border-radius:50px ;

    width: clamp(30px,3vw,200px);
    height: clamp(30px,3vw,200px);
    
    
}.loginContainer:hover{
    background-color: rgb(226, 204, 176);
}