@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lusitana:wght@400;700&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgb(202, 175, 137), rgb(177, 154, 123));
    background-repeat: no-repeat;
    font-family: Lusitana;
    font-weight: 1200;
    height: 100vh;
     
}

.products{
  display: flex;
  justify-content: space-between;
  
  margin-left: 10.5vw;
  margin-right: 10.5vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}.product{
  background-color:#ffffff;
  width: 25vw;
  height: 24vw;
  border-radius: 0.2vw;
  transition: 0.15s all;
  cursor: pointer;
  margin-bottom: 10vh;
  
}.product:hover{
  
}.image{
  margin-left: 1vw;
  width: 90%;
  height: 90%;
}.image3{
  width: 96%;
}.png{
  width: 100%;
  height: 100%;
}.png3{
 width: 100%;
 height: 40vh;
}

.text{
  margin-top: 6vh;
}.description{

}.title{
  color: white;
  font-size: 2rem;
}.p{
  color: white;
}


.price{
margin-top: 1vh;
font-size: 1.3rem;
}.price strong{
 color: white;
}





  

  
.divisor{
    border-radius: 20vw;
    background-color: white;
    height: 0.1vh;
    margin-left: 10.5vw;
    margin-right: 10.5vw;
}