
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    
    
}

.logo{
    margin-top: 1vw;
    margin-left: 10.5vw;
    width: clamp(100px,6.5vw,200px);
    height: auto;
    
    color: white;
    font-size: 1.7rem;
}

.navContainer{
 display: flex ; 
 justify-content: center ;
 align-items: center ;
 height: 4vh;
 
 cursor: pointer
} .navContainer1{
    align-items: center;
    text-align: center;
    width: 6vw;
    height: 100%;
    
}


.navBlock{
    height: 20px;
    
}

.nav{
    font-size: clamp(1rem,1vw,1rem);
    transition: 0.17s;
    font-weight: 1000;
    
}.navContainer1:hover .nav{
    color: rgb(155, 118, 62);
    font-size: 17px;
}.navContainer2:hover .nav{
    color: rgb(155, 118, 62);
    font-size: 17px;
}

.spacer{
    width: clamp(70px,4vw,200px);
}

.navContainer2{
    align-items: center;
    text-align: center;    
    height: 100%;
    width: clamp(84px,8vw,200px);
    
}


.nav{
    font-size: 1.05rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.loginContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;


    margin-right:10vw;
    border-radius:50px ;

    width: clamp(30px,3vw,200px);
    height: 3vw;
    
    
}.loginContainer:hover{
    background-color: rgb(226, 204, 176);
}