main-produtos {

    color: black;
    height: 100%;
    width: 100%;

    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

main-produtos div {
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 15px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.07s;
}main-produtos div:hover{
    transform: scale(1.02);
}

main-produtos div strong:nth-child(1) {
    font-size: 3rem;

}